@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;

.logo {
  width: 7rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
}

.button-header {
  height: 7rem;
  box-shadow: $box-shadow;
}

.modal-color {
  background-color: $background-color;
}

.modal-title {
  background-color: $background-color-dark;
  color: $text-color;
}

.form-label {
  display: flex;
  justify-content: center;
  font-size: large;
}

.purchase {
  background-color: $background-color-dark;
  color: $text-color;
  text-align: center;
  padding: 1rem;
}
