@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;

.logo {
  width: 7rem;
  border-radius: 7%;
}

.button-header {
  height: 7rem;
}

.modal-color {
  // background-color: rgb(236, 233, 233);
}

.container {
  // background-color: rgb(236, 233, 233);
}

.modal-title {
  // background-color: #0d6efd;
  // color: white;
}

.form-label {
  display: flex;
  justify-content: center;
  font-size: large;
}
