@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" as *;

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
}

.support,
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  &__text {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}
